body { 
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  background-color: #eee;
}
h1 {
  color: #666666;
}
h2 {
  color: #666666;
  letter-spacing: 2px;
  font-size: 36px;
  width: 100%;
  background-color: #ddd;
  padding: 10px 0px 30px 10px;
  margin: 25px 0;
}
h3 {
  color: #666666;
  font-size: 25px;
  padding: 0 0 5px 10px;
  margin: 20px 0;
  letter-spacing: 1.5px;
}
p {
  color: #666666;
  font-size: 16px;
  padding: 0 5px 5px 10px;
  margin: 10px 0;
}
* {
  box-sizing: border-box;
}
a {
  color: #ffffff;
  text-decoration: none;
}
img {
  display: inline-block;
}
header img.logo {
  max-width: 250px;
  width: 100%;
}
img.social-logo {
  max-width: 25px;
}

/* header */
header {
  display: flex;
  padding: 3px;
  margin-right: 5px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  background: #888888;
  width: 100vw;
}
header nav { 
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
header nav .link {
  padding: 3px 0 1px 0px;
  border-bottom: 1px solid #ffffff;
  width: 82px;
  margin: 2px 2px 4px 2px;
}
header nav .link:hover,
header nav .link:focus {
  background: #777777;
}
header nav .link:active {
  background: #666666;
}
header nav .social-logo-wrapper {
  padding: 2px 0 0 4px;
}
header .right-hand {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 5px;
  height: 100%;
  max-width: 60vw;
}
header .right-hand .address {
  font-size: 12px;
}
header .right-hand .address:hover {
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  header nav {
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }
}


/* main */

main {
  max-width: 1400px;
  background: #fff;
  margin: 10px auto;
  min-height: calc(100% - 200px);

}
.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.img-col {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.img-col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .img-col {
    flex: 33%;
    max-width: 33%;
  }
}

@media screen and (max-width: 700px) {
  .img-col {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .img-col {
    flex: 100%;
    max-width: 100%;
  }
}

/*brands page*/
main .img-brand-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}
main .img-brand-holder img{ 
  padding: 10px 10px 10px 10px;
}
main section {
  margin: 40px 0;
}
main .divider {
  border-bottom: 1px solid #777777;
  width: 80%;
  margin: 0 auto;
}

/*about page*/
main .look-inside {
  margin: 0 auto;
  height: 50vh;
}